@import "~variables.scss";

body {
  overflow-x: hidden;
  background-size:  cover;
  background-attachment: fixed;
  background-repeat:  no-repeat;
  background-position: center center;
  background-image: $backgroundImage;
  background-color: $dimmedOrangeColor;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 40vh auto;
  background-color: royalblue;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.loading{
  background-color: $dimmedOrangeColor;
}
